/* ********** SECTION WITH IMAGE ********************************/
.section-with-image{
    background-color: black;
    border-top: 3px solid grey;
}
.section-with-image-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
.text-section{
    width: 200%;
    margin: 0 40px 0 0;
}
.text-section h2{
    font-weight: 700;
    margin-bottom: 20px;
}
.text-section h3{
    font-weight: 400;
}
.img-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-section img{
    width: 55%;
}
 /**********************************************************************************
 *********************** MEDIA  QUERIES *******************************************/
  
 @media (max-width: 1230px) {
    .content{
      padding: 0 60px;
    }
}
@media (max-width: 1100px) {
    .content{
      padding: 0 40px;
    }
    .section-with-image-content{
        flex-direction: column;
    }
    .text-section{
        width: 80%;
    }
}
@media (max-width: 900px) {
    .content{
    padding: 0 30px;
    }
    .img-section img{
        width: 95%;
    }
}
@media (max-width: 868px) {
    /* ********** SECTION WITH IMAGE ********************************/
    .section-with-image-content{
        flex-direction: column;
    }
    .text-section{
        text-align: center;
        width: 85%;
        margin: 0 auto 0 auto;
    }
}
@media (max-width: 768px) {
    
}
@media (max-width: 380px) {
    
}